body {
    background: #7390df;
}

#t70show {
    width: 100%;
}

h1 {
    text-align:center
    background: #85df73
}

p { 
    text-align: center
}

#missao {
    font-size: 20px
}