body {
    background: #7390df;
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

/*HOME*/

#banner {
    width: 350px;
    height: 350px;
}

h1 {
    text-align: center;
    background: #8ce08c;
}

p { 
    font-size: 20px;
    text-align: center
}

#missao {
    font-size: 20px
}